<!-- PROGRAMAS -->

<section class="bg-white py-20 relative overflow-hidden">

  <!-- DECORACIONES -->

  <div class="absolute left-0 top-60 w-60 h-60 bg-cyan-200 rounded-full opacity-20"></div>

  <div class="absolute right-0 bottom-0 w-72 h-72 bg-yellow-300 rounded-full opacity-50"></div>

  <!-- CONTENIDO -->

  <div class="max-w-7xl mx-auto px-6">

    <!-- TITULO -->

    <!-- BANNER -->

<div class="w-full mb-16">
  <img
    src="assets/Baner-programas.png"
    alt="Banner"
    class="w-full rounded-3xl shadow-xl object-cover"
  >
</div>

    <!-- CARDS -->

    <div class="grid md:grid-cols-3 gap-12 text-center">

      <!-- CARD 1 -->

      <div class="bg-white p-8 rounded-3xl shadow-xl hover:shadow-2xl transition">

        <img
          src="assets/talentos.jpg"
          alt="Talentos"
          class="w-60 mx-auto mb-6"
        >

        <h3 
          class="text-3xl text-green-700 mb-4 italic"
          style="font-family: cursive;"
        >
          Caja de Talentos
        </h3>

        <p class="text-gray-700 leading-relaxed mb-6">
          Clases de música e instrumentos como piano, guitarra y batería.
          También promovemos teatro, danzas e inglés.
        </p>

       <button
     class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-3 rounded-xl shadow-lg transition"
      >
     Quiero saber más
     </button>

      </div>

      <!-- CARD 2 -->

      <div class="bg-white p-8 rounded-3xl shadow-xl hover:shadow-2xl transition">

        <img
          src="assets/logo-programa.jpg"
          alt="Saber"
          class="w-60 mx-auto mb-6"
        >

        <h3 
          class="text-3xl text-green-700 mb-4 italic"
          style="font-family: cursive;"
        >
          Caja del Saber
        </h3>

        <p class="text-gray-700 leading-relaxed mb-6">
          Programa social dirigido a niños en edad escolar, brindando
          acompañamiento académico y refuerzo en áreas de dificultad.
        </p>

         <button
     class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-3 rounded-xl shadow-lg transition"
      >
     Quiero saber más
     </button>

      </div>

      <!-- CARD 3 -->

      <div class="bg-white p-8 rounded-3xl shadow-xl hover:shadow-2xl transition">

        <img
          src="assets/logo.png"
          alt="Ecología"
          class="w-60 mx-auto mb-6"
        >

        <h3 
          class="text-3xl text-green-700 mb-4 italic"
          style="font-family: cursive;"
        >
          Caja de Bondad
        </h3>

        <p class="text-gray-700 leading-relaxed mb-6">
          Actividades solidarias y ecológicas enfocadas en promover
          el amor, el respeto y el apoyo a quienes más lo necesitan.
        </p>

         <button
     class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-3 rounded-xl shadow-lg transition"
      >
     Quiero saber más
     </button>
        
      </div>
 <!-- crd 4-->
  <div class="bg-white p-8 rounded-3xl shadow-xl hover:shadow-2xl transition">

        <img
          src="assets/Ecologica.png"
          alt="Saber"
          class="w-60 mx-auto mb-6"
        >

        <h3 
          class="text-3xl text-green-700 mb-4 italic"
          style="font-family: cursive;"
        >
          Caja Ecologica
        </h3>

        <p class="text-gray-700 leading-relaxed mb-6">
          es un programa educativo dirigido a niños, diseñado para fomentar el amor y el cuidado por el medio ambiente mediante actividades creativas, reciclaje y aprendizaje sostenible. Nuestro propósito es formar pequeñas generaciones conscientes, responsables y comprometidas con la protección del planeta y el desarrollo sostenible.
        </p>
      <button
     class="bg-green-600 hover:bg-green-700 text-white font-semibold px-6 py-3 rounded-xl shadow-lg transition"
      >
     Quiero saber más
     </button>

      </div>
    </div>

  </div>

 
</section>


