
<nav class="fixed top-0 left-0 w-full bg-white shadow-md z-10 animate-fade-down">

  <div class="max-w-7xl mx-auto px-6 py-3 flex justify-between items-center">


    <!-- LOGO -->
    <a 
      routerLink="/"
      class="transition duration-500 hover:scale-110"
    >
      <img 
        src="assets/logo.png" 
        alt="Logo Fundación Caja de Esperanza"
        class="h-20 w-auto"
      >
    </a>


    <!-- MENU -->
    <div class="flex items-center space-x-6">


      <a 
        routerLink="/"
        class="font-poppins font-medium"
        style="font-family: Poppins;"
      >
        Inicio

        <span 
          class="absolute left-0 -bottom-2 w-0 h-1 
          bg-green-500 rounded-full
          group-hover:w-full transition-all duration-300">
        </span>

      </a>



      <a 
        routerLink="/history"
        class="relative group font-medium"
        style="font-family: Poppins;"
      >
        Nosotros

        <span 
          class="absolute left-0 -bottom-2 w-0 h-1 
          bg-green-500 rounded-full
          group-hover:w-full transition-all duration-300">
        </span>

      </a>



      <a 
        routerLink="/programs"
        class="relative group font-medium"
        style="font-family: Poppins;"
      >
        Programas

        <span 
          class="absolute left-0 -bottom-2 w-0 h-1 
          bg-green-500 rounded-full
          group-hover:w-full transition-all duration-300">
        </span>

      </a>



      <a 
        routerLink="/voluntariado"
        class="relative group font-medium"
        style="font-family: Poppins;"
      >
        Voluntariado

        <span 
          class="absolute left-0 -bottom-2 w-0 h-1 
          bg-green-500 rounded-full
          group-hover:w-full transition-all duration-300">
        </span>

      </a>



      



      <a 
        routerLink="/contacto"
        class="relative group font-medium"
        style="font-family: Poppins;"
      >
        Contacto

        <span 
          class="absolute left-0 -bottom-2 w-0 h-1 
          bg-green-500 rounded-full
          group-hover:w-full transition-all duration-300">
        </span>

      </a>


    </div>



    <!-- WHATSAPP -->
   <a
  href="https://wa.me/573132053618?text=Hola,%20quiero%20realizar%20una%20donación%20a%20la%20Fundación%20Caja%20de%20Esperanza"
  target="_blank"
  class="bg-green-600 hover:bg-green-700 text-white px-5 py-3 rounded-full shadow-lg font-semibold transition flex items-center gap-2"
>
  🤍 Apoyar la Fundación
</a>

  </div>

</nav>