<!-- BANNER -->

<div class="w-full mb-16">
  <img
    src="assets/Contacto.png"
    alt="Banner"
    class="w-full rounded-3xl shadow-xl object-cover"
  >
</div>

<div class="max-w-md mx-auto mt-10">
  <h2 class="text-2xl font-bold mb-4">Contáctanos</h2>

  <form class="space-y-4">
    <input type="text" placeholder="Nombre Completo" class="w-full border p-2 rounded">
    <input type="email" placeholder="Correo" class="w-full border p-2 rounded">
    <input type="text" placeholder="Celular" class="w-full border p-2 rounded">
    <textarea placeholder="Mensaje" class="w-full border p-2 rounded"></textarea>

    <button class="bg-blue-600 text-white px-4 py-2 rounded">
      Enviar
    </button>
  </form>
</div>